.Rproj.user
.Rhistory
.RData
.Ruserdata
src/R/analisis-inteligente-datos/*.html
src/R/data-mining/TP1/03_informe_files/*
src/R/data-mining/TP1/input/*.RData
src/R/data-mining/TP1/output/*.RData
src/R/data-mining/TP1/*.html
src/R/data-mining/TP1/*.pdf
src/R/data-mining/TP2/input/*.RData
src/R/data-mining/TP2/output/*.RData
src/R/data-mining/TP2/*.html
src/R/data-mining/TP2/*.pdf
src/python/aprendizaje-automatico/TP1/.idea
src/python/aprendizaje-automatico/TP1/output/*
src/python/aprendizaje-automatico/TP2/.ipynb_checkpoints/
src/R/data-mining-eyf/*.yml
src/R/data-mining-eyf/*.log
src/R/data-mining-eyf/derby.log
src/R/data-mining-eyf/input/*
src/R/data-mining-eyf/output/*
src/R/data-mining-eyf/work/*
src/R/data-mining-eyf/metastore_db/*
src/R/data-mining-cyt/input/*
src/R/data-mining-cyt/output/*
src/R/enfoque-estadistico-aprendizaje/*.csv
src/R/enfoque-estadistico-aprendizaje/*.html
src/R/visualizacion-informacion/TP*.html
src/R/visualizacion-informacion/TP*.pdf
src/R/visualizacion-informacion/vast/*
src/R/sistemas-informacion-geografica/data/public*
src/R/sistemas-informacion-geografica/tp-teledeteccion2020/*
src/R/series-temporales/data/*.RData
src/R/series-temporales/*.html
src/R/redes-neuronales/tfruns/runs*
src/R/redes-neuronales/runs*
