# Directorios de trabajo
dir:
  lib: ${base}/src/R/data-mining-eyf/lib
  input: ${base}/src/R/data-mining-eyf/input
  output: ${base}/src/R/data-mining-eyf/output
  work: ${base}/src/R/data-mining-eyf/work
  
# Semillas a utilizar
semillas: [ 200009 ]

# Rango de fechas para entrenamiento
rango.fechas:
  desde: 2018-05-01
  hasta: 2019-02-01

# Cantidad de rondas
nrounds: 300

# Cantidad de iteraciones
iteraciones: 50