# Directorios de trabajo
dir:
  lib: ${base}/src/R/data-mining-eyf/lib
  input: ${base}/src/R/data-mining-eyf/input/months_full
  output: ${base}/src/R/data-mining-eyf/output
  work: ${base}/src/R/data-mining-eyf/work
  
# Semilla a utilizar
semilla: 102191

# Hiperparametros a utilizar
hiperparametros:
  eta: 0.048478970
  max_depth: 10
  gamma: 1.313529
  subsample: 0.9642628
  colsample_bytree: 0.3085149
  min_child_weight: 1.169910
  alpha: 7.27243913
  lambda: 8.155388
  
# Periodo a utilizar para train
periodo.train:
  desde: 2019-02-01
  hasta: 2019-02-01

# Periodo a utilizar para test
periodo.test:
  desde: 2019-04-01
  hasta: 2019-04-01
  
# Cantidad de arboles
nrounds: 300

# Parameteros para el optimizador
parametros.optimizador:
  iteraciones: 25
  max.iteraciones.sin.avance: 10
  tamano.poblacion: 25
  elitismo: 3
  probabilidad.mutacion: 0.03