# Directorios de trabajo
dir:
  lib: ${base}/src/R/data-mining-eyf/lib
  input: ${base}/src/R/data-mining-eyf/input/months_full
  output: ${base}/src/R/data-mining-eyf/output
  work: ${base}/src/R/data-mining-eyf/work
  
# Semillas a utilizar
semillas: [ 102191 ]

# Definicion de meses para entrenamiento
meses.entrenamiento:
  lista.meses:
  rango.fechas:
    desde: 2018-05-01
    hasta: 2019-02-01
    
# Meses para validacion (puede no indicarse, en cuyo caso debe indicarse la proporcion de train)
meses.validacion:
  rango.fechas:
    desde: 2019-04-01
    hasta: 2019-04-01
proporcion.train: 1

# Cantidad de rondas
nrounds: 300

# Cantidad de iteraciones
iteraciones: 50

# Intervalo de guardado de datos (en segundos)
file.persistence.interval: 0